extends layout

block content
  h1= title

  if(currentUser)
    p= currentUser.username
    p= currentUser.isPrivateMember
    a(href="/log-out") log out
  else
    p please log in
    a(href="/log-in") log in
